# Django configurations
SECRET_KEY=django-insecure-anchor-platform-key-2026
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# MySQL Database credentials
DB_NAME=Alert_Enterprise_Project
DB_USER=root
DB_PASSWORD=Chandan@2004
DB_HOST=localhost
DB_PORT=3306

# Google Gemini API key
GEMINI_API_KEY=AIzaSyC7yjf14lEcLF1IS2AddLYnLL5HMj4XkpU

# JWT Lifetime configurations
JWT_ACCESS_LIFETIME_MINUTES=60
JWT_REFRESH_LIFETIME_DAYS=7

# Frontend API Endpoint url
VITE_API_URL=http://localhost:8000/api
